<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge"> {% load staticfiles %}
    <title>Books and Reviews</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.css' %}">
</head>

<body>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="{% static 'js/materialize.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('select').material_select();
        });
    </script>
    
    <div class="row" >
        <h3>Add a new book Titel and a Review :</h3>
        <div class="col s1"></div>
        <div class="col s7">
            <h4>Registration</h4>
            <form method="POST" action="/books/addbookandreview/">
                {% csrf_token %}
                Book Title:
                <input type="text" name="title" placeholder="Enter title here" required=true>
                
                Author:
                <p>Choose from the list :<select name="author1">
                    <option value=""></option>
                    {% for i in authors %}
                    <option value={{i.author}}>{{i.author}}</option>
                    {%endfor%}
                     </p>
                Or add  a new auther :
                <input type="text" name="author2" placeholder="Enter author here" >    
                     
                Review:
                <input type="textarea" name="review" placeholder="Enter review here" required=true>
                
                Rating:
                <select name="rating">
                    <option value="1">*</option>
                    <option value="2">**</option> 
                    <option value="3">***</option> 
                    <option value="4">****</option> 
                    <option value="5">*****</option> 
                  </select> 

                <input class="waves-effect waves-light btn" type="submit" value="Add Book and Review" required=true>
            </form>
        </div>
    
        
</body>

</html>